<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style>
      body {
        margin: 50px 500px;
      }

      .basic-table {
        width: 100%;
        margin-bottom: 50px;
        border-collapse: collapse;
        border: 1px solid #edf1f6;
      }

      td {
        border: 1px solid #edf1f6;
        padding-left: 24px;
        padding-right: 24px;
        height: 60px;
        color: #242934;
      }

      td.th {
        background: rgb(249, 250, 253);
        color: #646b7a;
      }
    </style>
  </head>
  <body>
    <table class="basic-table">
      <tbody>
        <tr>
          <td class="th">姓名</td>
          <td>张三</td>
        </tr>
        <tr>
          <td class="th">姓名</td>
          <td>张三</td>
        </tr>
      </tbody>
    </table>
    <table class="basic-table">
      <tbody>
        <tr>
          <td class="th">姓名</td>
          <td>张三</td>
          <td class="th">年龄</td>
          <td>20</td>
        </tr>
        <tr>
          <td class="th">姓名</td>
          <td>张三</td>
          <td class="th">年龄</td>
          <td>20</td>
        </tr>
      </tbody>
    </table>
    <table class="basic-table">
      <tbody>
        <tr>
          <td class="th">姓名</td>
          <td>张三</td>
          <td class="th">年龄</td>
          <td>20</td>
          <td class="th">年龄</td>
          <td>20</td>
        </tr>
        <tr>
          <td class="th">姓名</td>
          <td>张三</td>
          <td class="th">年龄</td>
          <td colspan="3">20</td>
        </tr>
        <tr>
          <td class="th">姓名</td>
          <td colspan="5">
            <button>张三</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
